include LICENSE
include MANIFEST.in
include README.rst
include requirements.txt
include setuplib.py
recursive-include form_designer/static *
recursive-include form_designer/locale *
recursive-include form_designer/templates *
